<% @friends.each do |friend| %>
  <%= link_to friend_path(friend), class:"text-decoration-none" do %>
    <%= image_tag friend.picture, class:"avatar m-1" %>
  <% end %>
<% end %>

<% @friends.each do |friend| %>
  <%= render "layouts/card_friend", friend: friend %>
<% end %>

<%# Lien de test pour atteindre selected_place_controller %>
<div style="margin: 10px 0;">
  <%= link_to "Trouve liste de restaurant [test]", friend_meet_selected_places_path(1, 1) %>
</div>
