<h1>HELLO FROM ACCOINTANCES</h1>

<% @friends.each do |friend| %>
  <div class="card-accointance">
    <%= image_tag friend.picture %>
    <div class="card-product-infos">
    <%= friend.pseudo %>
    <p>J'aime me battre.</p>
    <p><%= link_to 'Create a Date', new_friend_meet_path(friend.id) %></p>
    </div>
  </div>
<% end %>
