<div class="friends-show d-flex align-items-end" style="background-image: url('<%= image_path("users/#{@friend.picture}") %>');">
  <div class="friends-show-infos">
  <h1>SHOW DE TON ACCOINTANCE AVEC <%= @friend.pseudo %></h1>
  </div>
</div>
