<div class="container">
  <div class="user-edit-profile-datr"><%= render "shared/face_sticker", face: @user %></div>
  <div class="user-preferences-datr"><%= render "user_preferences", preferences: @preferences, user: @user %></div>
</div>
