<div class="page-container">
  <div class="user-edit-profile-datr"><%= render "shared/friend_sticker", friend: @user %></div>
  <div class="user-preferences-datr"><%= render "shared/user_preferences", preferences: @preferences, user: @user %></div>
</div>
