<div class="container">
  <div class="my-2"><%= render "shared/face_sticker", face: @user %>
  </div>
  <div data-controller="profile-selection" class="text-center mt-2">

    <div class="halfway-card" style="width: 156px; display: inline-block;">
      <!-- Radio buttons -->
      <input type="radio" name="profile_selection"
        value="meets"
        data-action="click->profile-selection#toggleProfile"
        style="transform: scale(1.5);"
        checked
        class="m-1"> Mes dates
    </div>

    <div class="halfway-card" style="width: 45%; display: inline-block;">
      <!-- Radio buttons -->
      <input type="radio" name="profile_selection"
                          value="preferences"
                          data-action="click->profile-selection#toggleProfile"
                          style="transform: scale(1.5);"
                          class="m-1"> Préférences
    </div>

    <div data-profile-selection-target="meets">
      <%= render "planned_meets", meets: @meets, user: @user %>
    </div>

    <div data-profile-selection-target="preferences">
      <%= render "user_preferences", preferences: @preferences, user: @user %>
    </div>
  </div>
</div>
