<div class="sticker-content">
  <div class="sticker-content-image text-center">
    <%= image_tag "users/#{friend.picture}", class: "sticker-content-image-photo rounded-circle img-thumbnail", style: "width: 20%; border-radius: 10px;" %>
  </div>
  <div class="sticker-content-name text-center mt-2">
    <%= friend.first_name %>
  </div>
</div>
