<!-- Logo, main menu, search form, etc...) -->
<!-- Add Stimulus listener to calculate dynamically its height for layout of following containers -->
<div id="sharedHeader" class="">
  <header data-controller="calculate-header-height"
          data-calculate-header-height-target="genericHeader"
          class="m-2 d-flex align-items-center justify-content-center">

    <div class="row">
      <%= image_tag "halfway_logo.png",
                    alt: "Halfway Logo",
                    style: "transform: scale(0.8);" %>
    </div>
    </div>
  </header>
</div>
