<div class="container d-flex">
<row>
  <h1>datr</h1>
  <h2>fUCK ME I AM FAMOUS</h2>
    <%= link_to "Go fuck", friends_path, class: "btn btn-ghost" %>
    <%= link_to "Log-in", new_user_session_path, class: "btn btn-flat" %>
</row>
</div>
