<main class="container d-flex justify-content-center">
  <!-- Contents -->
  <article data-calculate-header-height-target="landingPageArticle" class="row mt-2">
    <div class="d-flex justify-content-center">
      <%= image_tag "halfway_trace.png",
                    class: "w-100",
                    alt: "Halfway picture",
                    style: "max-height: 400px; object-fit: contain;" %>
    </div>
    <div class="text-center">
      <h1>A mi-chemin du bonheur</h1>
    </div>
  </article>
</main>
