<div id="container">
  <div>
    <%= render "shared/friend_sticker", friend: @user %>
  </div>

  <div>
    <% if @meets.any? %>
      <div>
        <%= render "planned_meets", meets: @meets %>
      </div>
    <% else %>
      <div>
        <h1>Aucune Rencontre plannifiée </h1>
      </div>
    <% end %>
  </div>

</div>
