<div class="form-wrapper">
  <%= simple_form_for [@friend, @meet], url: friend_meets_path(@friend),
                      html: {
                        data: {
                          controller: 'flatpickr'
                        }
                      } do |f| %>
      <%= f.input :date,
                as: :string,
                input_html: {
                  data: {
                    flatpickr_target: 'dateInput',
                  },
                } %>

    <%= render partial: "card_location", locals: { f: f, location_types: @location_types } %>
    <div class= "d-flex justify-content-center">
        <%= f.button :submit, "C'est parti !", class: "btn btn-primary location-button-color mb-2" %>
    </div>
  <% end %>
</div>
