<div class="card-accointance"><%= render "layouts/card_accointance" %></div>
<div class="card-accointance"><%= render "layouts/card_accointance" %></div>
<div class="card-accointance"><%= render "layouts/card_accointance" %></div>
<div class="card-accointance"><%= render "layouts/card_accointance" %></div>
