<div class="list-locations-selected-places-datr">
  <div class="row">
    <% places.each do |place| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="row no-gutters">
            <div class="col-md-4">
              <%= image_tag place.picture, class: "card-img rounded-circle", alt: place.name %>
            </div>
            <div class="col-md-8">
              <div class="card-body rounded">
                <h5 class="card-title"><%= place.name %></h5>
                <p class="card-text"><%= place.punchline %></p>
                <p class="card-text"><small class="text-muted"><%= "#{place.address}, #{place.city}" %></small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
