<div class="page-container d-flex flex-column align-items-center text-center">
  <div class="friend-selected-places-datr"><%= render "shared/face_sticker", face: @friend %></div>
  <div class="locations-selected-places-datr" style="width: 95%;">
    <% if @places.any? %>
      <div class="map-selected-places-datr">
        <%= render "map_with_locations", markers: @markers %>
      </div>
      <div class="list-locations-selected-places-datr m-3">
        <%# Drop MidPoint in 1st place list %>
        <%= render "locations_proposed", places: @places.drop(1), friend: @friend, meet: @meet %>
      </div>
    <% else %>
      <div class="no-list-locations-selected-places-datr">
        <h2>Aucun lieu de rencontre possible</h2>
      </div>
    <% end %>
   </div>

</div>
