<div class="page-container">
  <div class="friend-selected-places-datr"><%= render "friend_sticker", friend: @friend %></div>
  <%= render "date_summary", selected_places: @selected_places, friend: @friend %>
</div>
