.card-accointance {
  width: auto; /* Ajustez la largeur selon vos besoins */
  height: 135px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond avec opacité */
  border-radius: 80px;
  display: flex;
  margin: 6px;
  align-items: center;
  font-family: Poppins, sans-serif;
}

.card-accointance-button {
  width: auto; /* Ajustez la largeur selon vos besoins */
  height: 135px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond avec opacité */
  border-radius: 80px;
  display: flex;
  margin: 6px;
  align-items: center;
  font-family: Poppins, sans-serif;
  justify-content: space-between;
}

// .profile-pic {
//   border-radius: 50%;
//   width: 40px; /* Ajustez la taille selon vos besoins */
//   height: 40px; /* Ajustez la taille selon vos besoins */
//   overflow: hidden;
//   padding-right: 12px;
// }

// .profile-pic img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   margin-right: 4px;
// }

.row-card {
  max-width: 133px;
}

.status {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  width: auto;
}

.status {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
  color: #555;
  display: flex;
  align-items: center;
  width: auto;
}

.status::before,
.status-accepted::before,
.status-pending::before,
.status-refused::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 5px;
}

.status-accepted::before {
  background-color: green;
}

.status-pending::before {
  background-color: orange;
}

.status-refused::before {
  background-color: red;
}


// .status_attente {
//   content: '';
//   display: inline-block;
//   width: 8px;
//   height: 8px;
//   background-color: orange;
//   border-radius: 50%;
//   margin-right: 5px;
// }

// .status_refused {
//   content: '';
//   display: inline-block;
//   width: 8px;
//   height: 8px;
//   background-color: red;
//   border-radius: 50%;
//   margin-right: 5px;
// }

.name {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  flex-grow: 1; /* Assure que cet élément prend toute la largeur disponible */
  text-align: left;
}

.description {
  font-size: 14px;
  color: #000000;
  text-align: left;
}
.earth-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative; /* Ajouté pour positionner l'icône par rapport à son conteneur */
}

.icon-button .icon {
  display: inline-block;
  width: 24px; /* Ajustez la taille selon vos besoins */
  height: 24px; /* Ajustez la taille selon vos besoins */
}

.icon-button::before {
  content: '';
  display: inline-block;
  width: 35px; /* Taille du rond blanc */
  height: 35px; /* Taille du rond blanc */
  background-color: #fff; /* Couleur de fond blanche */
  border-radius: 50%;
  position: absolute; /* Positionné par rapport à .icon-button */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centré */
  z-index: -1; /* Derrière l'icône */
}
