.scroll {
  overflow: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  width: 100vw;
}

.friends-card {
  overflow: hidden;
  height: 630px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  margin: 24px;
  background-size: cover;
  background-position: center center;
}

.friends-name {
  font-size: 40px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
  margin-right: 16px;
}

.friends-age {
  font-size: 56px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: white;
  opacity: 0.5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.friends-button {
  background-color: white; /* Green */
  border: none;
  color: black;
  border-radius: 32px;
  padding: 15px 56px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.friends-show {
  height: 100vh;
  margin: 2%;
}

.friends-show-image {
  height: 60vh;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-size: cover;
  background-position: center center;
}

.friends-show-infos {
  height: 40%;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: white;
}

.friends-show-bio {
  color: black;
  font-family: "Poppins", sans-serif;
}

.flatpickr-calendar {
  margin: 0 auto; /* Center the calendar horizontally */
  left: 50% !important; /* Position the calendar relative to the left */
  transform: translateX(-50%) !important; /* Center the calendar by translating it to the left */
}

.flatpickr-calendar.inline {
  left: auto !important;
  transform: none !important;
}

.form-control {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 24px;
}
