.btn-halfway-border {
  border: red 2px solid;
}

.btn-halfway-max-width {
  max-width: 40%;
  margin: auto; /* Center the button horizontally */
}

.halfway-avatar {
  width: 40px;
  border-radius: 50%;
  border: white 2px solid;
  margin-left : 12px;
}

.halfway-sticker {
  width: 20%;
  border-radius: 10px;
  border: white 2px solid;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.halfway-card {
  width: auto;
  background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond avec opacité */
  border-radius: 40px;
  margin: 1% auto;
  font-family: Poppins, sans-serif;
  color:black;
}
.halfway-card-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  border: white 2px solid;
}
.halfway-selected-card {
  border: red 2px solid;
  border-radius: 10px;
}
.halfway-modal-content {
  width: 90%;
  height: auto;
  margin: auto;
  padding: 20px;
  border: 4px solid rgba(255, 0, 111, 0.636);
  border-radius: 10px;
  background-color: white;
  font-family: Poppins, sans-serif;
  color:black;
  position: fixed; /* Use fixed positioning to make it stay in place even when scrolling */
  top: 50%; /* Position the top edge of the modal at the middle of the screen */
  left: 50%; /* Position the left edge of the modal at the middle of the screen */
  transform: translate(-50%, -50%); /* Offset the modal to truly center it on the screen */
  z-index: 1000; /* Ensure the modal is above other content */
}

.halfway-modal-content p {
  color: black !important;
  margin: 0;
}

.halfway-modal-image {
  border-radius: 10px;
}
.halfway-red-badge {
  display: d-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 15px;
  border: 3px solid white;
}
.halfway-green-badge {
  display: d-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 15px;
  border: 3px solid white;
}
