.btn-halfway-border {
  border: red 2px solid;
}

.btn-halfway-max-width {
  max-width: 40%;
  margin: auto; /* Center the button horizontally */
}

.halfway-avatar {
  width: 40px;
  border-radius: 50%;
  border: white 2px solid;
  margin-left : 12px;
}
