.container-checkboxes {
  .form-check {
    padding-left: 0;
    width: 100%;
    .form-check-label {
      width: 100%;
    }
  }
}

.selected-location {
  border: 5px solid #7e73ff;
}

.location-button-color {
  background-color: #7e73ff; /* Custom background color */
  border-radius: 10px; /* Rounded corners */
}
