<div class="card-accointance d-flex">
      <div class="profil-pic">
        <%= image_tag "users/#{user.picture}", class: "image_round" %>
      </div>
      <div class="row">
        <% if current_user.friends(status: 'accepted').include?(user) %>
          <div class="status">Friends</div>
        <% elsif current_user.friends(status: 'pending').include?(user) %>
          <div class="status">En attente</div>
        <% elsif current_user.friends(status: 'refused').include?(user) %>
          <div class="status">Refusé</div>
        <% end %>
        <div class="name">
          <%= user.first_name %>
        </div>
        <div class="name">
          <%= user.id %>
        </div>
        <div class="description">
          <%= user.last_name %>
        </div>
      </div>
    </div>
