<div class="card-accointance d-flex">
  <div class="profil-pic">
    <%= image_tag "users/#{user.picture}", class: "image_round m-4" %>
  </div>
  <div class="row row-test">
    <% if current_user.friends(status: 'accepted').include?(user) %>
      <div class="status status-accepted">Friends</div>
    <% elsif current_user.friends(status: 'pending').include?(user) %>
      <div class="status status-pending">En attente</div>
    <% elsif current_user.friends(status: 'refused').include?(user) %>
      <div class="status status-refused">Refusé</div>
    <% end %>
    <div class="name">
      <%= user.first_name %>
    </div>
    <div class="description">
      <%= user.last_name %>
    </div>
  </div>
</div>
