<div class="container">
  <div class="row m-4">
    <h1>Ajoute ton futur date !</h1>
  </div>
  <% @users.each do |user| %>
    <% accointance = current_user.accointance_with(user) %>
    <% if accointance %>
      <%= render partial: "status_exist", locals: { user: user, accointance: accointance } %>
    <% else %>
      <%= render partial: "add_button", locals: { user: user } %>
    <% end %>
  <% end %>
</div>
