<!-- Copyrights, coordinates, thanks etc... -->
<div id="sharedFooter" class="">
  <footer class="m-2 text-body-secondary text-center">
    <p class="m-0">Créer avec ❤️ par la Team Datr</p>
  </footer>
</div>
